.book {
    font-family: $shantell_sans;
    transition: opacity 0.4s 0.2s;
    perspective: 500vw;
    background-color: $cover_colour;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 1;
    height: 100%;

    &.book__single {
        &.book__extra_small {
            padding: $cover_width_extra_small $cover_and_page_stack_width_extra_small
                $cover_width_extra_small 0;
        }

        &.book__small {
            padding: $cover_width_small $cover_and_page_stack_width_small
                $cover_width_small 0;
        }

        &.book__medium {
            padding: $cover_width_medium $cover_and_page_stack_width_medium
                $cover_width_medium 0;
        }

        &.book__large {
            padding: $cover_width_large $cover_and_page_stack_width_large
                $cover_width_large 0;
        }

        &.book__extra_large {
            padding: $cover_width_extra_large $cover_and_page_stack_width_extra_large
                $cover_width_extra_large 0;
        }
    }

    &.book__double {
        &.book__extra_small {
            padding: $cover_width_extra_small $cover_and_page_stack_width_extra_small;
        }

        &.book__small {
            padding: $cover_width_small $cover_and_page_stack_width_small;
        }

        &.book__medium {
            padding: $cover_width_medium $cover_and_page_stack_width_medium;
        }

        &.book__large {
            padding: $cover_width_large $cover_and_page_stack_width_large;
        }

        &.book__extra_large {
            padding: $cover_width_extra_large $cover_and_page_stack_width_extra_large;
        }
    }
}
