.dialog {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    z-index: 1;
    width: 100vw;
    max-width: 900px;
    aspect-ratio: 3.75;
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    user-select: none;
    padding: 5px;
    font-size: 16px;

    svg {
        pointer-events: all;
        width: 100%;
        z-index: 0;

        .dialog__bg--white {
            fill: #fff;
        }

        .dialog__button--next__rect {
            fill: #290e2b;
        }

        .dialog__stroke {
            fill: none;
            stroke: #000;
            stroke-miterlimit: 10;
        }

        .dialog__bg--black {
            fill: #000 !important;
        }

        &.small {
            display: block;

            @media screen and (min-width: $medium) {
                display: none;
            }
        }

        &.large {
            display: none;

            @media screen and (min-width: $medium) {
                display: block;
            }
        }

        path {
            fill: #fff;
        }
    }

    .dialog__content {
        pointer-events: none;
        width: 100vw;
        max-width: 900px;
        position: absolute;
        margin: auto 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 60px 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: 12px;

        @media screen and (min-width: $medium) {
            font-size: 20px;
            padding: 60px 100px;
        }

        @media screen and (min-width: $large) {
            font-size: 20px;
        }

        @media screen and (min-width: $extra_large) {
            font-size: 24px;
        }
    }

    .dialog__button--skip {
        cursor: $cursor_pointer;
        pointer-events: all;

        line {
            opacity: 0;
            transition: opacity 0.25s;
        }

        &:hover {
            line {
                opacity: 1;
            }
        }
    }

    .dialog__button--next {
        cursor: $cursor_pointer;
        pointer-events: all;

        > rect {
            transition: all 0.15s ease-in-out;
        }

        &:hover {
            > rect {
                fill: #6f207a;
            }
        }
    }
}
