.keyboard_key {
    display: inline-block;
    transform: translateY(2px);
    height: 16px;
    min-width: 16px;
    background-color: #290e2b;
    color: #fff;
    border-radius: 5px;
    padding: 2px;

    > svg {
        bottom: 0;
        left: 0;
        position: absolute;
        height: 16px;
        width: 16px;
    }

    @media screen and (min-width: $medium) {
        transform: translateY(-1px);

        border-radius: 7px;
        height: 26px;
        min-width: 26px;
        line-height: 20px;
        padding: 4px;
        margin-bottom: 2px;

        > svg {

            height: 26px;
            width: 26px;
        }
    }

    @media screen and (min-width: $extra_large) {
        transform: translateY(1px);

        border-radius: 10px;
        height: 30px;
        min-width: 30px;
        padding: 5px;

        > svg {
            height: 30px;
            width: 30px;
        }
    }

}

.keyboard_key--svg {
    transform: translateY(4px);

    @media screen and (min-width: $medium) {
        transform: translateY(6px);
    }

    @media screen and (min-width: $extra_large) {
        transform: translateY(8px);
    }
}
