$menu_width: 300px;

$menu_padding: 10px;

$navigation_link_height: 60px;
$map_height: 80px;
$aspect_ratio_about_me: 3.33;
$aspect_ratio_internship: 3.3;
$aspect_ratio_projects: 2.79;

.menu {
    top: $menu_padding;
    right: $menu_padding;
    position: fixed;
    z-index: 1;
    width: $menu_width;
    display: flex;
    flex-direction: column;
    align-items: end;

    .menu__map {
        img {
            width: $map_height;
        }

        &:hover {
            animation: wiggle 0.2s ease-in-out;
        }
    }

    .menu__navigation {
        .navigation__link {
            height: $navigation_link_height;

            img {
                height: $navigation_link_height;
            }

            &:hover {
                animation: pointLeft 0.3s ease-in-out;
            }
        }

        &.menu__navigation--in {
            .menu__about_me {
                animation: moveIn 0.7s ease-in-out forwards;
            }

            .menu__projects {
                animation: moveIn 0.7s 0.2s ease-in-out forwards;
            }

            .menu__cv {
                animation: moveIn 0.7s 0.4s ease-in-out forwards;
            }
        }

        &.menu__navigation--out {
            .menu__about_me {
                animation: moveOut 0.7s 0.4s ease-in-out forwards;
            }

            .menu__projects {
                animation: moveOut 0.7s 0.2s ease-in-out forwards;
            }

            .menu__cv {
                animation: moveOut 0.7s ease-in-out forwards;
            }
        }
    }
}

.menu--animated {
    animation: moveIn 0.7s ease-in-out forwards;
}
