.book {
    .page-hidden {
        display: none;
    }

    .page {
        position: absolute;
        overflow: hidden;
        background-color: $page_colour;
        transform-origin: 0 0;
        transition: transform 1.4s;
        transform-style: preserve-3d;
        backface-visibility: hidden;

        @include odd {
            transform: rotateY(0deg);
            right: 0;

            &.flipped {
                transform: rotateY(-180deg);
            }
        }

        @include even {
            transform: rotateY(180deg);
            transform-origin: 100% 0;
            left: 0;

            &.flipped {
                transform: rotateY(0deg);
            }
        }
    }

    &.book__extra_small .page {
        padding: $page_padding_extra_small;
        line-height: $page_line_height_extra_small;
        background-size: 100% $page_line_height_extra_small;
        background-image: linear-gradient(
                90deg,
                transparent $page_vertical_line_spacing_left_extra_small,
                #cfc6bc $page_vertical_line_spacing_left_extra_small,
                #cfc6bc $page_vertical_line_spacing_right_extra_small,
                transparent $page_vertical_line_spacing_right_extra_small
            ),
            linear-gradient(
                #cfc6bc $page_horizontal_line_width_extra_small,
                transparent $page_horizontal_line_width_extra_small
            );

        .page__description {
            p {
                font-size: $font_size_page_body_extra_small;
            }
        }
    }

    &.book__small .page {
        padding: $page_padding_small;
        line-height: $page_line_height_small;
        background-size: 100% $page_line_height_small;
        background-image: linear-gradient(
                90deg,
                transparent $page_vertical_line_spacing_left_small,
                #cfc6bc $page_vertical_line_spacing_left_small,
                #cfc6bc $page_vertical_line_spacing_right_small,
                transparent $page_vertical_line_spacing_right_small
            ),
            linear-gradient(
                #cfc6bc $page_horizontal_line_width_small,
                transparent $page_horizontal_line_width_small
            );

        .page__description {
            p {
                font-size: $font_size_page_body_small;
            }
        }
    }

    &.book__medium .page {
        padding: $page_padding_medium;
        line-height: $page_line_height_medium;
        background-size: 100% $page_line_height_medium;
        background-image: linear-gradient(
                90deg,
                transparent $page_vertical_line_spacing_left_medium,
                #cfc6bc $page_vertical_line_spacing_left_medium,
                #cfc6bc $page_vertical_line_spacing_right_medium,
                transparent $page_vertical_line_spacing_right_medium
            ),
            linear-gradient(
                #cfc6bc $page_horizontal_line_width_medium,
                transparent $page_horizontal_line_width_medium
            );
    }

    &.book__large .page {
        padding: $page_padding_large;
        line-height: $page_line_height_large;
        background-size: 100% $page_line_height_large;
        background-image: linear-gradient(
                90deg,
                transparent $page_vertical_line_spacing_left_large,
                #cfc6bc $page_vertical_line_spacing_left_large,
                #cfc6bc $page_vertical_line_spacing_right_large,
                transparent $page_vertical_line_spacing_right_large
            ),
            linear-gradient(
                #cfc6bc $page_horizontal_line_width_large,
                transparent $page_horizontal_line_width_large
            );

        .page__description {
            p {
                font-size: $font_size_page_body_large;
            }
        }
    }

    &.book__extra_large .page {
        padding: $page_padding_extra_large;
        line-height: $page_line_height_extra_large;
        background-size: 100% $page_line_height_extra_large;
        background-image: linear-gradient(
                90deg,
                transparent $page_vertical_line_spacing_left_extra_large,
                #cfc6bc $page_vertical_line_spacing_left_extra_large,
                #cfc6bc $page_vertical_line_spacing_right_extra_large,
                transparent $page_vertical_line_spacing_right_extra_large
            ),
            linear-gradient(
                #cfc6bc $page_horizontal_line_width_extra_large,
                transparent $page_horizontal_line_width_extra_large
            );

        .page__description {
            p {
                font-size: $font_size_page_body_extra_large;
            }
        }
    }

    &.book__single {
        .page {
            @include even {
                display: none;
            }
        }

        &.book__extra_small .page {
            width: $page_single_width_extra_small;
            height: $book_center_height_extra_small;

            .page__header {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @include odd {
                @include page_overlay(
                    $page_single_width_extra_small,
                    $book_center_height_extra_small,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_single_width_extra_small,
                    $book_center_height_extra_small,
                    left
                );
            }
        }

        &.book__small .page {
            width: $page_single_width_small;
            height: $book_center_height_small;

            .page__header {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @include odd {
                @include page_overlay(
                    $page_single_width_small,
                    $book_center_height_small,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_single_width_small,
                    $book_center_height_small,
                    left
                );
            }
        }

        &.book__medium .page {
            width: $page_single_width_medium;
            height: $book_center_height_medium;

            .page__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .page__description {
                p {
                    font-size: $font_size_page_body_medium;
                }
            }

            @include odd {
                @include page_overlay(
                    $page_single_width_medium,
                    $book_center_height_medium,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_single_width_medium,
                    $book_center_height_medium,
                    left
                );
            }
        }

        &.book__large .page {
            width: $page_single_width_large;
            height: $book_center_height_large;

            .page__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            @include odd {
                @include page_overlay(
                    $page_single_width_large,
                    $book_center_height_large,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_single_width_large,
                    $book_center_height_large,
                    left
                );
            }
        }

        &.book__extra_large .page {
            width: $page_single_width_extra_large;
            height: $book_center_height_extra_large;

            .page__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            @include odd {
                @include page_overlay(
                    $page_single_width_extra_large,
                    $book_center_height_extra_large,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_single_width_extra_large,
                    $book_center_height_extra_large,
                    left
                );
            }
        }
    }

    &.book__double {
        .page {
            @include odd {
                display: block;

                .page__stickers {
                    .navigation__left {
                        display: none;
                    }

                    .navigation__right {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            @include even {
                display: block;

                .page__stickers {
                    .navigation__left {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    .navigation__right {
                        display: none;
                    }
                }
            }
        }

        &.book__extra_small .page {
            width: $page_double_width_extra_small;
            height: $book_center_height_extra_small;

            .page__header {
                display: flex;
                flex-direction: column;
            }

            @include odd {
                @include page_overlay(
                    $page_double_width_extra_small,
                    $book_center_height_extra_small,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_double_width_extra_small,
                    $book_center_height_extra_small,
                    left
                );
            }
        }

        &.book__small .page {
            width: $page_double_width_small;
            height: $book_center_height_small;

            .page__header {
                display: flex;
                flex-direction: column;
            }

            @include odd {
                @include page_overlay(
                    $page_double_width_small,
                    $book_center_height_small,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_double_width_small,
                    $book_center_height_small,
                    left
                );
            }
        }

        &.book__medium .page {
            width: $page_double_width_medium;
            height: $book_center_height_medium;

            padding: $page_padding_extra_small;
            line-height: $page_line_height_extra_small;
            background-size: 100% $page_line_height_extra_small;
            background-image: linear-gradient(
                    90deg,
                    transparent $page_vertical_line_spacing_left_extra_small,
                    #cfc6bc $page_vertical_line_spacing_left_extra_small,
                    #cfc6bc $page_vertical_line_spacing_right_extra_small,
                    transparent $page_vertical_line_spacing_right_extra_small
                ),
                linear-gradient(
                    #cfc6bc $page_horizontal_line_width_extra_small,
                    transparent $page_horizontal_line_width_extra_small
                );

            .page__header {
                display: flex;
                flex-direction: column;
            }

            .page__description {
                p {
                    font-size: $font_size_page_body_extra_small !important;
                }
            }

            @include odd {
                @include page_overlay(
                    $page_double_width_medium,
                    $book_center_height_medium,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_double_width_medium,
                    $book_center_height_medium,
                    left
                );
            }
        }

        &.book__large .page {
            width: $page_double_width_large;
            height: $book_center_height_large;

            .page__header {
                display: flex;
                flex-direction: column;
            }

            .page__technologies {
                li {
                    font-size: $font_size_page_body_extra_small;
                }
            }

            .page__description {
                p {
                    font-size: $font_size_page_body_extra_small;
                }
            }

            @include odd {
                @include page_overlay(
                    $page_double_width_large,
                    $book_center_height_large,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_double_width_large,
                    $book_center_height_large,
                    left
                );
            }
        }

        &.book__extra_large .page {
            width: $page_double_width_extra_large;
            height: $book_center_height_extra_large;

            .page__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            @include odd {
                @include page_overlay(
                    $page_double_width_extra_large,
                    $book_center_height_extra_large,
                    right
                );
            }

            @include even {
                @include page_overlay(
                    $page_double_width_extra_large,
                    $book_center_height_extra_large,
                    left
                );
            }
        }
    }
}
