.book {
    &.book__extra_small .page__header {
        margin-bottom: $page_line_height_extra_small;

        h2 {
            @include font_size_weight($font_size_page_header_extra_small, $font_weight_page_header_extra_small);
        }

        h3 {
            @include font_size_weight($font_size_page_body_extra_small, $font_weight_page_body_extra_small);
        }
    }

    &.book__small .page__header {
        margin-bottom: $page_line_height_small;

        h2 {
            @include font_size_weight($font_size_page_header_small, $font_weight_page_header_small);
        }

        h3 {
            @include font_size_weight($font_size_page_body_small, $font_weight_page_body_small);
        }
    }

    &.book__medium .page__header {
        margin-bottom: $page_line_height_medium;

        h2 {
            @include font_size_weight($font_size_page_header_medium, $font_weight_page_header_medium);
        }

        h3 {
            @include font_size_weight($font_size_page_body_medium, $font_weight_page_body_medium);
        }
    }

    &.book__large .page__header {
        margin-bottom: $page_line_height_large;

        h2 {
            @include font_size_weight($font_size_page_header_large, $font_weight_page_header_large);
        }

        h3 {
            @include font_size_weight($font_size_page_body_large, $font_weight_page_body_large);
        }
    }

    &.book__extra_large .page__header {
        margin-bottom: $page_line_height_extra_large;

        h2 {
            @include font_size_weight($font_size_page_header_extra_large, $font_weight_page_header_extra_large);
        }

        h3 {
            @include font_size_weight($font_size_page_body_extra_large, $font_weight_page_body_extra_large);
        }
    }

    &.book__single .page__header {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .page__header__title {
            text-align: center;
        }
    }
}