.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-child {
    flex: 1 1 auto;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.as-center {
    align-self: center;
}

.book__extra_large {
    .flex-row-xl {
        display: flex;
        justify-content: space-between;
    }
}