* {
    font-family: $shantell_sans;
}

.book:not(.book__extra_large) {
    .hide-only-xl {
        display: block;
    }

    .show-only-xl {
        display: none;
    }
}

.book.book__extra_large {
    .hide-only-xl {
        display: none;
    }

    .show-only-xl {
        display: block;
    }
}

.fade_in {
    animation: fadeIn 1.5s ease-out forwards;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100%;
        }
    }
}

.fade_out {
    animation: fadeOut 1.5s ease-out forwards;

    @keyframes fadeOut {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0;
        }
    }
}

:root {
    --vh: 0px;
}

html,
body {
    overflow: hidden;
    background-color: #000;
}

.webgl {
    z-index: 0;

    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.hidden {
    display: none !important;
}

body {
    cursor: $cursor_grab;
}

canvas.mousedown {
    cursor: $cursor_grabbing;
}
