// Cover
$cover_width_extra_small: 20px;
$cover_width_small: 20px;
$cover_width_medium: 20px;
$cover_width_large: 20px;
$cover_width_extra_large: 20px;

// Page stack
$page_stack_width_extra_small: 20px;
$page_stack_width_small: 20px;
$page_stack_width_medium: 20px;
$page_stack_width_large: 20px;
$page_stack_width_extra_large: 20px;

// Cover + Stack
$cover_and_page_stack_width_extra_small: calc(#{$cover_width_extra_small + $page_stack_width_extra_small});
$cover_and_page_stack_width_small: calc(#{$cover_width_small} + #{$page_stack_width_small});
$cover_and_page_stack_width_medium: calc(#{$cover_width_medium} + #{$page_stack_width_medium});
$cover_and_page_stack_width_large: calc(#{$cover_width_large} + #{$page_stack_width_large});
$cover_and_page_stack_width_extra_large: calc(#{$cover_width_extra_large} + #{$page_stack_width_extra_large});

// Book center
// - Width
$book_center_width_extra_small: calc(100vw - (#{$cover_width_extra_small + $page_stack_width_extra_small}));
$book_center_width_small: calc(100vw - (#{$cover_width_small + $page_stack_width_small}));
$book_center_width_medium: calc(100vw - (#{$cover_width_medium + $page_stack_width_medium}));
$book_center_width_large: calc(100vw - (#{$cover_width_large + $page_stack_width_large}) * 2);
$book_center_width_extra_large: calc(100vw - (#{$cover_width_extra_large + $page_stack_width_extra_large}) * 2);
// - Height
$book_center_height_extra_small: calc(100vh - (#{$cover_width_extra_small} * 2));
$book_center_height_small: calc(100vh - (#{$cover_width_small} * 2));
$book_center_height_medium: calc(100vh - (#{$cover_width_medium} * 2));
$book_center_height_large: calc(100vh - (#{$cover_width_large} * 2));
$book_center_height_extra_large: calc(100vh - (#{$cover_width_extra_large} * 2));

// Page
// - Width
$page_width_extra_small: calc(#{$book_center_width_extra_small} + 1px);
$page_width_small: calc(#{$book_center_width_small} + 1px);
$page_width_medium: calc(#{$book_center_width_medium} + 1px);
$page_width_large: calc(#{$book_center_width_large} / 2 + 1px);
$page_width_extra_large: calc(#{$book_center_width_extra_large} / 2 + 1px);
// - Height
$page_padding: 40px 70px 30px 120px;


// Background
$page_line_height: 30px;
$page_vertical_line_spacing_width: 2px;
$page_vertical_line_spacing_left: 78px;
$page_vertical_line_spacing_right: $page_vertical_line_spacing_left + $page_vertical_line_spacing_width;
$page_horizontal_line_width: 2px;