* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    z-index: 0;

    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.page_overlay {
    z-index: 1;

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.page_overlay_hidden {
    display: none;
}