@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    z-index: 0;

    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.page_overlay {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.page_overlay_hidden {
    display: none;
}

.hidden {
    display: none;
}

.page_overlay_loading {
    background-color: #fff;
    font-size: 40px;
    line-height: 50vh;
    text-align: center;
}

.dialog {
    background-color: #fff;
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

.menu {
    background-color: #fff;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 20px;
}