// Fonts
// - Size
$font_size_page_header_extra_small: 26px;
$font_size_page_header_small: 30px;
$font_size_page_header_medium: 30px;
$font_size_page_header_large: 30px;
$font_size_page_header_extra_large: 30px;
$font_size_page_body_extra_small: 16px;
$font_size_page_body_small: 20px;
$font_size_page_body_medium: 20px;
$font_size_page_body_large: 20px;
$font_size_page_body_extra_large: 20px;
// - Weight
$font_weight_page_header_extra_small: 500;
$font_weight_page_header_small: 500;
$font_weight_page_header_medium: 500;
$font_weight_page_header_large: 500;
$font_weight_page_header_extra_large: 500;
$font_weight_page_body_extra_small: 300;
$font_weight_page_body_small: 300;
$font_weight_page_body_medium: 300;
$font_weight_page_body_large: 300;
$font_weight_page_body_extra_large: 300;
// - Arrows
$font_size_page_arrow_extra_small: 35px;
$font_size_page_arrow_small: 20px;
$font_size_page_arrow_medium: 20px;
$font_size_page_arrow_large: 20px;
$font_size_page_arrow_extra_large: 20px;