.page.page--4 {
    .page__post_it {
        position: relative;

        >.post_it__image {
            position: absolute;

            >img {
                width: 250px;
            }
        }

        .post_it__content {
            padding: 50px 25px 0 25px;
            position: absolute;
            z-index: 1;
            width: 250px;
        }
    }

    >.page__stickers {
        >.mushroom--2 {
            position: absolute;
            bottom: 20px;
            right: 30px;
            width: 50px;
        }
    }
}

.book__extra_small .page.page--4 {
    .page__post_it {
        display: none;
    }
}

.book__small .page.page--4 {
    .page__post_it {
        display: none;
    }
}

.book__medium .page.page--4 {
    .page__post_it {
        display: none;
    }
}

.book__large .page.page--4 {
    .page__post_it {
        display: block;
    }
}

.book__extra_large .page.page--4 {
    .page__post_it {
        display: block;
    }
}