.page.page--6 {
    .page__image {
        >img {
            height: 300px;
        }
    }

    >.page__stickers {
        >.page__win {
            position: absolute;
            top: 10px;
            left: 10px;
            transform: rotate(-10deg);

            >img {
                width: 100px;
            }
        }

        >.mushroom--5 {
            position: absolute;
            bottom: 10px;
            right: 50px;
            width: 100px;
            transform: rotateZ(-10deg);
        }

        >.ink {
            position: absolute;
            top: -50px;
            left: 450px;
            width: 100px;
            transform: rotateZ(80deg);
        }
    }
}