.page.page--10 {
    .page__stickers {
        .mushroom--3 {
            position: absolute;
            bottom: 20px;
            left: 60px;

            img {
                height: 100px;
            }
        }

        .mushroom--5 {
            position: absolute;
            bottom: 20px;
            left: 120px;
            transform: rotateZ(5deg);

            img {
                height: 60px;
            }
        }
    }
}