.page.page--2 {
    >.page__stickers {
        >.ink {
            position: absolute;
            top: 250px;
            right: 200px;

            >img {
                width: 100px;
            }
        }
    }
}

.book__extra_small .page.page--2 {
    .page__image {
        img {
            width: 100%;
        }
    }
}

.book__small .page.page--2 {
    .page__image {
        img {
            width: 100%;
        }
    }
}

.book__medium .page.page--2 {
    .page__image {
        img {
            width: 100%;
        }
    }
}

.book__large .page.page--2 {
    .page__image {
        img {
            height: 280px;
        }
    }
}

.book__extra_large .page.page--2 {
    .page__image {
        img {
            height: 280px;
        }
    }
}