// External
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

// Core
@import "core/variables/page_variables";
@import "core/reset";
@import "core/colours";
@import "core/global";
@import "core/breakpoints";
@import "core/flex";
@import "core/spacing";
@import "core/fonts";
@import "core/sizes";

// Mixins
@import "mixins/page_overlay";
@import "mixins/children";
@import "mixins/page_animated";
@import "mixins/font_size_weight";
@import "mixins/page_stack";

// Components
@import "components/book";
@import "components/pages";
@import "components/page";
@import "components/page_header";
@import "components/page_technologies";
@import "components/highlight";
@import "components/pages/page1";
@import "components/pages/page2";
@import "components/pages/page3";
@import "components/pages/page4";
@import "components/pages/page5";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    z-index: 0;

    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.page_overlay {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.page_overlay_hidden {
    display: none;
}

.hidden {
    display: none;
}

.page_overlay_loading {
    background-color: #fff;
    font-size: 40px;
    line-height: 50vh;
    text-align: center;
}

.dialog {
    background-color: #fff;
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

.menu {
    background-color: #fff;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

.page_overlay_hide_button {
    position: absolute;
    background-color: #fff;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
}